# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
.vscode/

# CocoaPods (if used later)
Pods/
Podfile.lock

# Carthage (if used later)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# iOS
*.mobileprovision
*.orig.*
